



body {
  margin: 0;
  background: linear-gradient(180deg, #90caf9, #ffffff);
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}





main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #448aff; /* Darker blue background */
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
  color: white;
}

button:hover {
  background-color: #2979ff; /* Slightly lighter blue on hover */
  border-color: #2979ff; /* Border color changes on hover */
}



button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid #2C3E50; /* Dark blue border */
  gap: 1px;
  background-color: #446CB3; /* Lighter blue background */
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: #5D8AA8; /* Light blue */
  padding: 8px;
  color: white; /* White text */
}

li:hover {
  background: #72A6E0; /* Lighter blue on hover */
}

a {
  color: white; /* Set the text color to white */
  font-weight: 800;
  text-decoration: none;
}




